* {
    box-sizing: border-box;
}


body {
    margin:0;
    background-color:rgb(255, 255, 255);
    
}

.bluebag {
    opacity: 0; 
    background-image: url("images/rain.png");
    background-size: contain;
    height: 140px;
    width: 140px; 
    position: fixed;
    left: 45%;
    bottom: 50%;
    animation: opacityOn 5s normal forwards;
    animation-delay: 5s;
}

.clouds {
    opacity: 0; 
    background-image: url("images/moon.png");
    background-size:cover;
    height: 120px;
    width: 130px; 
    position: fixed;
    left: 60%;
    bottom: 30%;
    animation: cloud 9s normal forwards;
    animation-delay: 7s;
    
}

.fire {
    opacity: 0; 
    background-image: url("images/fire.png");
    background-size:cover;
    height: 150px;
    width: 120px; 
    position: fixed;
    left: 70%;
    bottom: 45%;
    animation: cloud 9s normal forwards;
    animation-delay: 10s;
   
}

.wood {
    opacity: 0; 
    background-image: url("images/wood.JPG");
    background-size:cover;
    height: 70px;
    width: 70px; 
    position: fixed;
    left: 79%;
    bottom: 27%;
    animation: cloud 5s normal forwards;
    animation-delay: 12s;
   
}
.binoc {
    opacity: 0; 
    background-image: url("images/binoc.JPG");
    background-size:cover;
    height: 200px;
    width: 130px; 
    position: fixed;
    left: 10%;
    bottom: 60%;
    animation: cloud 6s normal forwards;
    animation-delay: 15s;
    
}
.binoc2 {
    opacity: 0; 
    background-image: url("images/binoc2.JPG");
    background-size:cover;
    height: 170px;
    width: 130px; 
    position:fixed;
    left: 25.4%;
    bottom: 60%;
    animation: cloud 7s normal forwards;
    animation-delay: 16s;
    
}

.bike {
    opacity: 0; 
    background-image: url("images/bike1.jpeg");
    background-size:cover;
    height: 150px;
    width: 110px; 
    position:fixed;
    left: 90%;
    bottom: 78%;
    animation: cloud 4s normal forwards;
    animation-delay: 20s;
    
}
.bike2 {
    opacity: 0; 
    background-image: url("images/bike2.jpeg");
    background-size:cover;
    height: 150px;
    width: 60px; 
    position:fixed;
    left: 85%;
    bottom: 70%;
    animation: cloud 5s normal forwards;
    animation-delay: 21s;
    
}
.john {
    opacity: 0; 
    background-image: url("images/john.JPG");
    background-size:cover;
    height: 150px;
    width: 150px; 
    position:fixed;
    left: 50%;
    bottom: 78%;
    animation: cloud 6s normal forwards;
    animation-delay: 24s;
    
}
.window {
    opacity: 0; 
    background-image: url("images/window.JPG");
    background-size:cover;
    height: 130px;
    width: 100px; 
    position:fixed;
    left: 30%;
    bottom: 20%;
    animation: cloud 8s normal forwards;
    animation-delay: 29s;
    
}
.window2 {
    opacity: 0; 
    background-image: url("images/window2.JPG");
    background-size:cover;
    height: 170px;
    width: 90px;
    position: fixed;
    left: 40%;
    bottom: 21%;
    animation: cloud 7s normal forwards;
    animation-delay: 29s;
    
}

.bed {
    opacity: 0; 
    background-image: url("images/bed.JPG");
    background-size:cover;
    height: 90px;
    width: 70px;
    position: fixed;
    left: 20%;
    bottom: 35%;
    animation: cloud 4s normal forwards;
    animation-delay: 32s;
    
}

.one {
    opacity: 0; 
    background-image: url("images/1.JPG");
    background-size:cover;
    height: 90px;
    width: 70px;
    position: fixed;
    left: 70%;
    bottom: 7%;
    animation: cloud 3s normal forwards;
    animation-delay: 38s;
    
}

.two {
    opacity: 0; 
    background-image: url("images/2.JPG");
    background-size:cover;
    height: 100px;
    width: 70px;
    position: fixed;
    left: 90%;
    bottom: 45%;
    animation: cloud 4s normal forwards;
    animation-delay: 39s;
    
}

.three {
    opacity: 0; 
    background-image: url("images/3.PNG");
    background-size:cover;
    height: 80px;
    width: 80px;
    position: fixed;
    left: 55%;
    bottom: 50%;
    animation: cloud 4s normal forwards;
    animation-delay: 40s;
    
}
.tree {
    opacity: 0; 
    background-image: url("images/heart.png");
    background-size:cover;
    height: 170px;
    width: 150px;
    position: fixed;
    left: 5%;
    bottom: 5%;
    animation: cloud 20s normal forwards;
    animation-delay: 45s;
    
}

.tree2 {
    opacity: 0; 
    background-image: url("images/open.JPG");
    background-size:cover;
    height: 170px;
    width: 150px;
    position: fixed;
    left: 65%;
    bottom: 75%;
    animation: cloud 10s normal forwards;
    animation-delay: 47s;
    
}

.clouds9 {
    opacity: 0; 
    background-image: url("images/moon.png");
    background-size:cover;
    height: 120px;
    width: 130px; 
    position: fixed;
    left: 90%;
    bottom: 30%;
    animation: cloud2 9s normal forwards;
    animation-delay: 55s;
    
}

.fire9 {
    opacity: 0; 
    background-image: url("images/fire.png");
    background-size:cover;
    height: 150px;
    width: 120px; 
    position: fixed;
    left: 70%;
    bottom: 45%;
    animation: cloud2 9s normal forwards;
    animation-delay: 53s;
   
}

.wood9 {
    opacity: 0; 
    background-image: url("images/wood.JPG");
    background-size:cover;
    height: 70px;
    width: 70px; 
    position: fixed;
    left: 79%;
    bottom: 27%;
    animation: cloud2 5s normal forwards;
    animation-delay: 57s;
   
}
.binoc9 {
    opacity: 0; 
    background-image: url("images/binoc.JPG");
    background-size:cover;
    height: 200px;
    width: 130px; 
    position: fixed;
    left: 10%;
    bottom: 60%;
    animation: cloud2 6s normal forwards;
    animation-delay: 57s;
    
}
.binoc29 {
    opacity: 0; 
    background-image: url("images/binoc2.JPG");
    background-size:cover;
    height: 170px;
    width: 130px; 
    position:fixed;
    left: 25.4%;
    bottom: 60%;
    animation: cloud2 7s normal forwards;
    animation-delay: 58s;
    
}

.bike9 {
    opacity: 0; 
    background-image: url("images/bike1.jpeg");
    background-size:cover;
    height: 150px;
    width: 110px; 
    position:fixed;
    left: 90%;
    bottom: 78%;
    animation: cloud2 4s normal forwards;
    animation-delay: 60s;
    
}
.bike29 {
    opacity: 0; 
    background-image: url("images/bike2.jpeg");
    background-size:cover;
    height: 150px;
    width: 60px; 
    position:fixed;
    left: 85%;
    bottom: 70%;
    animation: cloud2 5s normal forwards;
    animation-delay: 61s;
    
}
.john9 {
    opacity: 0; 
    background-image: url("images/john.JPG");
    background-size:cover;
    height: 150px;
    width: 150px; 
    position:fixed;
    left: 50%;
    bottom: 28%;
    animation: cloud2 6s normal forwards;
    animation-delay: 70s;
    
}
.window9 {
    opacity: 0; 
    background-image: url("images/window.JPG");
    background-size:cover;
    height: 130px;
    width: 100px; 
    position:fixed;
    left: 30%;
    bottom: 20%;
    animation: cloud2 8s normal forwards;
    animation-delay: 80s;
    
}
.window29 {
    opacity: 0; 
    background-image: url("images/window2.JPG");
    background-size:cover;
    height: 170px;
    width: 90px;
    position: fixed;
    left: 40%;
    bottom: 21%;
    animation: cloud2 7s normal forwards;
    animation-delay: 90s;
    
}

.bed9 {
    opacity: 0; 
    background-image: url("images/bed.JPG");
    background-size:cover;
    height: 90px;
    width: 70px;
    position: fixed;
    left: 20%;
    bottom: 35%;
    animation: cloud2 4s normal forwards;
    animation-delay: 92s;
    
}

.one9 {
    opacity: 0; 
    background-image: url("images/1.JPG");
    background-size:cover;
    height: 90px;
    width: 70px;
    position: fixed;
    left: 70%;
    bottom: 7%;
    animation: cloud2 3s normal forwards;
    animation-delay: 93s;
    
}

.two9 {
    opacity: 0; 
    background-image: url("images/2.JPG");
    background-size:cover;
    height: 100px;
    width: 70px;
    position: fixed;
    left: 90%;
    bottom: 45%;
    animation: cloud2 4s normal forwards;
    animation-delay: 94s;
    
}

.three9 {
    opacity: 0; 
    background-image: url("images/3.PNG");
    background-size:cover;
    height: 80px;
    width: 80px;
    position: fixed;
    left: 55%;
    bottom: 10%;
    animation: cloud2 4s normal forwards;
    animation-delay: 95s;
    
}
.tree9 {
    opacity: 0; 
    background-image: url("images/heart.png");
    background-size:cover;
    height: 170px;
    width: 150px;
    position: fixed;
    left: 5%;
    bottom: 5%;
    animation: cloud2 20s normal forwards;
    animation-delay: 96s;
    
}

.tree29 {
    opacity: 0; 
    background-image: url("images/open.JPG");
    background-size:cover;
    height: 170px;
    width: 150px;
    position: fixed;
    left: 65%;
    bottom: 75%;
    animation: cloud2 10s normal forwards;
    animation-delay: 97s;
    
}

.marquee {
    width: 120px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: smaller;
    color: rgba(237, 234, 185, 0.867);
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    left:45%;
    bottom:57%;
    
  }
  
  .marquee span {
    display: inline-block;
    width: max-content;
  
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 40s linear infinite;
    animation-delay: 8s;
  }
  
  .marquee span:hover {
    animation-play-state: paused
  }

  .marquee2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: x-small;
    width: 50px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    left:53.2%;;
    bottom:55%;
  }
  
  .marquee2 span {
    display: inline-block;
    width: max-content;
  
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 500s linear infinite;
    animation-delay: 15s;
  }
  
  .marquee2 span:hover {
    animation-play-state: paused
  }
  
  .marquee3 {
    font-family: 'PT Sans Narrow', sans-serif;
    width: 120px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    left:20%;
    bottom:55%;
  }
  
  .marquee3 span {
    display: inline-block;
    width: max-content;
  
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 500s linear infinite;
    animation-delay: 6s;
  }
  
  .marquee3 span:hover {
    animation-play-state: paused
  }
  .marquee4 {
    font-family: 'PT Sans Narrow', sans-serif;
    width: 120px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    left:45%;
    bottom:59%;
  }
  
  .marquee4 span {
    display: inline-block;
    width: max-content;
  
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 500s linear infinite;
    animation-delay: 6s;
  }
  
  .marquee4 span:hover {
    animation-play-state: paused
  }
  .marquee5 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:xx-small;
    width: 30px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    left: 67%;
    bottom: 30%;
  }
  
  .marquee5 span {
    display: inline-block;
    width: max-content;
  
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 200s linear infinite;
    animation-delay: 20s;
  }
  
  .marquee5 span:hover {
    animation-play-state: paused
  }
  .marquee6 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:xx-small;
    width: 60px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    position:relative;
    left: -30%;
    bottom: -6000%;
  }
  
  .marquee6 span {
    display: inline-block;
    width: max-content;
  
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 400s linear infinite;
    animation-delay: 0s;
  }
  
  .marquee6 span:hover {
    animation-play-state: paused
  }

  
@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
        
}

@keyframes cloud {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    99% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
    
    
}

@keyframes cloud2 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    99% {
        opacity:1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }

  
  @media (prefers-reduced-motion: reduce) {
    .marquee span {
      animation-iteration-count: 1;
      animation-duration: 0.01; 
      width: auto;
      padding-left: 0;
    }