* {
    box-sizing: border-box;
}

body {
    margin: 25px;
        background-color: rgb(0, 0, 0);
        color:rgb(146, 146, 146);
        text-align: center; 
        font-size:25px;
}
title {
    color:gray
}

input[type="text"] {

font-size:20px;
color:#fff;
background: #aaa;
padding:3px;
margin:5px;
border:1px solid #666;
}

textarea {
    font-size:20px;
color:#fff;
background: #aaa;
padding:3px;
margin:5px;
border:1px solid #666;
}