* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-image: url(../images/snow.gif);

}

.tree {
    position:absolute;
    bottom: -10mm;
    right: 400px;
}
.main-container {
    background:rgb(255, 255, 255);
    width:100vw;
    height:20vh;
    position: absolute;
    bottom: 0mm;
    
}

.string {
    position:absolute;
    top: -20ch;
    right:-200px;
}