* {
    box-sizing: border-box;
}

body {
    margin:20px;
}

.box {
    background:lightcoral;
    width: 200px;;
    height: 200px;
    border: 1px solid;
    margin-top: 10px;

}

.relative {
    position:relative;
    background:lightpink;
    bottom: 100px;
    left: 100px;
}

.fixed{
    position:fixed;
    background:lightblue;
    bottom:20px;
    right:20px;
}

.absolute{
    position:absolute;
    background:lightgoldenrodyellow;
    top:20px;
    right:20px;
    width:60px;
    height:50px;
}

.sticky {
    position:sticky;
    background: lightseagreen;
    top:0;
}